.special-font {
    font-family: 'Great Vibes';
    color: #FF9F0D;
    font-family: Great Vibes;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
}
.food-category div {
    visibility: hidden;
    transform: translateY(calc(-50% + 20px)) translateX(-50%);
    cursor: pointer;
}
.food-category:hover div {
    visibility: visible;
    transform: translateY(calc(-50% - 0px)) translateX(-50%);
    transition: transform 0.5s ease-in-out;
}