.chefcard div{
    opacity: 0.4;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.chefcard:hover div {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
}