.circle-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* gap: 2rem; */
    width: 85%;
    height: 85%;
    /* overflow: hidden; */
}
.circle {
    border-radius: 100%;
    height: 100%;
    border: solid 2px #ffffff;
    position: relative;
}
.item {
    cursor: pointer;
    height: 40px;
    transform-origin: center left;
    width: 50%;
    position: absolute;
    display: block;
    top: calc(50% - 20px);
    left: 50%;
    transform: rotate(0deg);
    transition: transform 2s linear;
}
/* 
0 160 190 220
*/
:root {
    --previous-rotation1: 160deg; /* Khởi tạo giá trị ban đầu */
    --previous-rotation2: 190deg; /* Khởi tạo giá trị ban đầu */
    --previous-rotation3: 220deg; /* Khởi tạo giá trị ban đầu */
    --previous-rotation4: 360deg; /* Khởi tạo giá trị ban đầu */
}
.item.rotation-1 {transform: rotate(var(--previous-rotation1));}
.item.rotation-2 {transform: rotate(var(--previous-rotation2));}
.item.rotation-3 {transform: rotate(var(--previous-rotation3));}
.item.rotation-4 {transform: rotate(var(--previous-rotation4));}



.leaf {
    height: 40px;
    transform-origin: center left;
    width: 50%;
    position: absolute;
    display: block;
    top: calc(50% - 20px);
    transform: rotate(135deg);
    left: 50%;
}
.leaf::after {
    content: "";
    width: 26px;
    height: 22px;
    background-image: url("../../../assets/leaf.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    text-align: end;
    top: 50%;
    right: -13px;
    transform-origin: bottom left;
    position: absolute;
}
.twoleaves {
    height: 40px;
    transform-origin: center left;
    width: 50%;
    position: absolute;
    display: block;
    top: calc(0% - 40px);
    left: 50%;
}
.twoleaves::after {
    content: "";
    width: 300px;
    height: 500px;
    background-image: url("../../../assets/leaves.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: end;
    top: 50%;
    right: 0;
    transform-origin: center right;
    transform:  translate(60%, -5%) rotate(10deg);
    position: absolute;
}
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
.twoleaves {
    animation: fadeOut 0.3s ease-out forwards;
}
  
.twoleaves.visible {
    animation: fadeIn 0.3s ease-in forwards;
}
  
.twoleaves.hidden {
    display: none;
}

.item::after {
    display: flex;
    text-align: end;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    transition: all 2s linear;
}
.item4::after {
    background-image: url("../../../assets/dish4.png");
    top: 50%;
    right: 0;
}
.item3::after {
    background-image: url("../../../assets/dish3.png");
    top: 50%;
    right: 0;
}
.item2::after {
    background-image: url("../../../assets/dish2.png");
    top: 50%;
    right: 0;
}
.item1::after {
    background-image: url("../../../assets/dish1.png");
    top: 50%;
    right: 0;
}
.size-4::after {
    width: 450px;
    height: 450px;
    transform: translate(22%, -50%);
}
.size-3::after {
    width: 96.38px;
    height: 99.19px;
    transform: translate(50%, -50%);
}
.size-2::after {
    width: 74.86px;
    height: 68.31px;
    transform: translate(50%, -50%);
}
.size-1::after {
    width: 60.82px;
    height: 54.27px;
    transform: translate(50%, -50%);
}
/* @keyframes spin1-4 {
    0% {
        transform: rotate(0deg);
    }
    66.67% {
        transform: rotate(145deg);
    }
    80% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(215deg);    
    }
}
@keyframes size1-4 {
    0% {
        width: 624.15px;
        height: 633.51px;
    }
    66.67% {
        width: 60.82px;
        height: 54.27px;
        transform: translate(50%, -50%);
    }
    80% {
        width: 74.86px;
        height: 68.31px;
        transform: translate(50%, -50%);
    }
    100% {
        width: 96.38px;
        height: 99.19px;
        transform: translate(50%, -50%);
    }
} */